<div class="topnav">
    <a class="internal-link hover-underline-animation" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>

    <div class="topnav-right">

      <a class="internal-link hover-underline-animation" href="/about">🪴 info</a>
      <a class="internal-link hover-underline-animation" href="/notes">✍🏽 notes</a>
      <a class="internal-link hover-underline-animation" href="/research">🧐 research</a>
      <a class="internal-link hover-underline-animation" href="/projects">👩🏾‍💻 projects</a>
      <a href="https://www.dropbox.com/s/lbiobd4u1jxahqm/cv.pdf?dl=0">CV</a>
      <a class="internal-link hover-underline-animation" href="/misc">💡 misc</a>
    </div>

</div>
